img {
    width: 350px;
}

.accordion-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

button:focus {
    outline:invert;
}


.accordion-button:hover {
    background-color: transparent;
    border: none;
    font-size: 20px;
}


.card {
    display: flex;
}
